<nav>
  <a href="/">
    <img id="logo" src="/dennisivy_logo.png" />
  </a>

  <div id="menu--container">
    <a href="/#blog">Blog</a>
    <a href="/#events">Projects</a>
    <a href="http://localhost:3000/about_me">About Me</a>
  </div>
  <!--https://github.com/divanov11/dennisivy.com-->
  <a href="https://github.com/atharva20-coder/devatharva.com" target="_blank">
    <img id="github--logo" src="/github.png" />
  </a>
</nav>
